server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    # Obsługa routingu Angulara (przekierowanie wszystkiego na index.html)
    location / {
        try_files $uri $uri/ /index.html;
    }

    # Proxy do Backend Gateway
    location /api {
        rewrite ^/api/(.*)$ /$1 break;
        
        proxy_pass ${API_URL};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}